label.signup {
	width:150px;
	display:inline-block;
}

input {
	border-radius:2px;
}

div.event div {
	display:inline-block;
}

div.event .city {
	width:70px;
}

div.event .date {
	width:60px;
}

div.event .time {
	width:80px;
}