label.signup {
	width:150px;
	display:inline-block;
}

body {
	background-color:#e8e8e8;
}

#eventsContainer {
	background-color:#f2f2f2;
	width:910px;
	margin:0 auto;
	padding:10px;
	border: 1px solid #DDD;
	border-radius:2px;
}

a {
	text-decoration: none;
	color: #5292f2;
}

a:visited {
	text-decoration: none;
	color: #b97dd1;
}

a:hover {
	text-decoration: none;
	color: #000;
}

input {
	border-radius:2px;
}

 div#follow {
	width:60px;
	display:inline-block;
}

 div#follow .button:hover {
	background-color:#9be096;
	border-radius:2px;
	border: 1px solid #54a84d;
	color:#000;	
}

 div#follow .button {
	display:inline-block;
	font-size:24px;
	margin:5px;
	padding:2px;
	border:1px solid #E7E7E7;
	border-radius:2px;
	color:#919191;
	cursor:pointer;
}

.signupButton {
	display:block;
	font-size:18px;
	position:relative;
	float:right;
	padding:2px;
	border:1px solid #E7E7E7;
	border-radius:2px;
}
div#signup a.signupButton {
	color:#919191;
}

.loginButton {
	display:block;
	clear:both;
	font-size:18px;
	position:relative;
	float:right;
	padding:2px;
	border:1px solid #E7E7E7;
	border-radius:2px;
}
div#login a.loginButton {
	color:#919191;
}

#filters div.toggleFollow {
	background-color:#9be096;
	border-radius:2px;
	border: 1px solid #54a84d;
	color:#000;
}

div#city {
	width: 500px;
  	display: inline-block
}



div#city {
}

div#city .button.loc_selected {
	background-color:#b6d7ea;
	border:1px solid #7c929e;
	border-radius:2px;
	color:#000;
}

div#city .button {
	display:inline-block;
	font-size:24px;
	margin:5px;
	padding:2px;
	border:1px solid #E7E7E7;
	border-radius:2px;
	color:#919191;
}

div#city .button:hover {
	background-color:#b6d7ea;
	border:1px solid #7c929e;
	border-radius:2px;
	color:#000;
}

div#city .button span {
	cursor:pointer;
}

div.event div {
	display:inline-block;
	margin:1px;
}

/*div.event .title {
	text-transform:capitalize;
}*/

div.event .city {
	width:110px;
}

div.event .date {
	width:60px;
}

div.event .time {
	width:70px;
	text-align:center;
}

/*all of them*/
div.event .follow {
	border-radius:2px;
	border: 1px solid #f2f2f2;
	padding: 0px 2px 0px 1px;
}

/*not followed, not hovered*/
div.event .follow:not(.followed) {
	cursor:pointer;
	visibility: hidden;
}

/*not followed, ON hover whole line!!*/
div.event:hover .follow:not(.followed) {
	background-color:#c6e8c2;
	border-radius:2px;
	border: 1px solid #54a84d;
	visibility: visible;
	opacity:.4;
}

/*followed*/
div.event .followed {
	content: "Followed";
	background-color:#9be096;
	border-radius:2px;
	border: 1px solid #54a84d;
}

.signupForm {
	margin: 60px 0px 0px 0px;
	border: 3px solid black;
	font-size:25px;
	padding: 15px;
	border-radius: 20px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
	width: 40%;
}

.loginForm {
	margin: 60px 0px 0px 0px;
	border: 3px solid black;
	font-size:25px;
	padding: 15px;
	border-radius: 20px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
	width: 40%;
}